.sr-only {
    display: none;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #f5f5f5;
    font-family: "Manrope", sans-serif;;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.brand-logo {
    fill: #ffc108;
    width: 45px;
    margin-right: .5rem;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    color: #ffc108;
}
.navbar-toggler:focus {
    box-shadow: none;
}

footer {
    background-color: #fff;
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer .navbar-nav a {
    color: #6c757d;
}

.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffc107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-btn-font-weight: 600;
}

.btn-outline-primary {
    --bs-btn-color: #ffc107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
}

h1 {
    margin-bottom: 1rem;
    font-weight: 800;
    line-height: 1.3;
    color: #0b0f19;
}
.form-group label {
    margin-bottom: 0.3125rem;
    font-size: 1rem;
    font-weight: 600;
}

.mod_login .form-control {
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}
.mod_login .form-group{
    margin-top: 1.5rem;
}
.mod_login .widget-submit {
    margin-top: 2rem;
}
.mod_login .widget-submit .btn-primary {
    width: 100%;
    --bs-btn-color: #fff;
    --bs-btn-padding-y: 0.785rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.1rem;
    --bs-btn-border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(255, 186, 8, 0.9) !important;
}

.breadcrumb a {
    text-decoration: none;
    color: #0b0f19;
    font-weight: 600;
}

.member-navigation ul {
    padding: 0;
    list-style: none;
}
.member-navigation ul li a {
    display: flex;
    text-decoration: none;
    font-weight: 600;
    color: #33354d;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
}

.member-navigation ul li a:hover {
    background-color: rgba(108, 117, 125, 0.2);
}

.member-navigation ul li .active {
    display: flex;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    background-color: rgba(108, 117, 125, 1);
    color: #fff;
}

.display-3 {
    font-weight: 800;
    line-height: 1.3;
}

.hero-banner {
    background-color: rgba(33, 37, 41, 0.95);
    color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -1.5rem;
    /*min-height: calc(100vh - 82px);*/
    text-align: center;
    padding: 2rem 0;
}
@media (min-width: 768px) {
    .hero-banner {
        display: flex;
        align-items: center;
        text-align: left;
    }
}
.hero-banner h1 {
    color: currentColor;
}
.hero-banner p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.125rem;
}
.hero-banner .svg-logo {
    width: 200px;
    display: block;
    margin: auto;
    fill: #ffc108;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hero-banner .btn {
    
}
@media (min-width: 768px) {
    .hero-banner .svg-logo {
        width: 200px;
        margin: auto;
    }
}
@media (min-width: 1200px) {
    .hero-banner .svg-logo {
        width: 250px;
    }
}
@media (min-width: 1600px) {
    .hero-banner .svg-logo {
        width: 300px;
    }
}